html,body{
  overflow-x:hidden
}

img {
  user-drag: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
  user-select: none;
}

@keyframes album_rotate {
  100% {
    transform: rotate(360deg)rotateY(1turn);
    /*transform: skew(360deg);*/
  }
}


@keyframes logo_rotate {
  30% {
    /*transform: rotate(360deg);*/
    transform: scale(1.05, 1.05);
  }
}

@keyframes sleep_in {
  form {
    /*margin-top:56px;
    margin-bottom:0px;*/
    opacity:0;
  }
  to {
    /*margin-top:6px;
    margin-bottom:50px;*/
    opacity:1;
  }
}

#title{
  margin:0 auto;
  margin-top:30vh;
}

#title_word{text-align:center;}
#title_word span{
  display:inline-block;
  color:red;
  font-size:32;
  text-align: center;
}

/*
#title_word:hover span:nth-of-type(even){
  color:blue;
  animation-name: wave;
  animation-duration: .2s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}
#title_word:hover span:nth-of-type(odd){
  color:blue;
  animation-name: waves;
  animation-duration: .2s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}
*/
#title_logo{
  width:300px;
}
#title_logo:hover{
  animation: logo_rotate 1s linear infinite forwards;
}
/*pop_out----------------------------------------*/
#pop_out{
  position:fixed;
  overflow:auto;
  width:100%;
  height:100%;
  z-index:100;
}
.pop_hide{
  pointer-events:none;
  opacity:0;
}
.pop_in{
  pointer-events:auto;
  opacity:1;
}

.sampleForm{
  position:fixed;
  top:0px;
  background-color:rgba(122,122,122,0.5);
  display:flex;
  width:100%;
  height:100%;
  /*position: absolute;*/
  /*flex-direction:row;*/
  /*justify-content: space-around;*/
}
.pop_child{
  /*position: absolute;*/
  margin-top:6px;
  margin-left:2%;
  margin-right:2%;
  border:1px solid;
  transform: translateY(calc((100vh - 46vw)/2));
  width:46vw;
  height:46vw;
  background:#dcdcdc;
  overflow-x: scroll;
  /*transform: translate(0,20vh);
  /*animation: sleep_in 1s linear 1 forwards;*/
}
@media screen and (max-width:900px){
  .sampleForm{display:block;}
  .pop_child{
    width:96%;
    height:96vw;
  }
}

.color_set[type="range"]{
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 80%;
  margin:10px;
  border-radius: 6px;
}
/*album_mode----------------------------------------*/
.photo_{
  transform-style: preserve-3d;
  width:200px;
  height:200px;
  margin:5px;
  border-width:10px;
  border-style:groove double solid;
  z-index:1
}
/*.photo_:hover{
  animation: album_rotate 2s linear infinite forwards;
}*/
/*select----------------------------------------*/
.select_btn {
  /*position: relative;*/
  /*display: inline-block;*/
  font-size:32px;
  height:100px;
  min-width:50vw;
  /*width:75vw;*/
  font-weight:bold;
  text-decoration:none;
  color: #FFF;
  background: #00bcd4;
  /*transition: .4s;*/
  margin-top:8vh;
  border-style: none;
  /*animation: sleep_in 1s linear 1 forwards;*/
}

.select_after{
}

.select_after:after{
  position:absolute;
  content: "";
  display: inline-block;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #00bcd4;
  margin-top:8vh;
  margin-left:0;
  /*transform: rotate(90deg)*/
}

.select_btn:hover{
  opacity:0.5;
}

/**/
#view_port{
  background-color:rgba(122,122,122,0.5);
  display: flex;
  width:100%;
  height:100%;
  position: absolute;
  /*flex-direction:row;*/
  /*justify-content: space-around;*/
}
#view_left{
  background-color:gray;
  width:30vw;
}
#view_left input{
  background:none;
  border-style: none;
  font-size:56px;
  width:100%;
}

#view_right{
  background-color:yellow;
  width:70vw;
}
#view_right #view_rt{
  background-color:green;
  height:80vh;
}

#view_right #view_rt img{
  transform-style: preserve-3d;
  /*transform:rotateY(45deg)*/
}

#view_right #view_rb{
  background-color:pink;
  height:20vh;
}
/*option1----------------------------------------*/
#option1{
  /*position: fixed;*/
  width:100%;
  top:0;
  left:0;
  background-color:gray;
  border-bottom:solid 3px;
}

label.mode{
  /*height:30px;
  margin:2px;
  background-color:#dcdcdc;*/
  font-size:24px;
  font-weight   : bold;
  background-color:#dcdcdc;
  border:3px inset;
  margin:5px;
}

span.moded{
  /*height:30px;
  margin:2px;
  background-color:#dcdcdc;*/
  font-size:24px;
  font-weight   : bold;
  background-color:#dcdcdc;
  border:3px inset;
  margin:5px;
}

input[type="radio"]{
  display: none;
}

input[type="radio"]:checked + label img{
  border-color:red;
}
/*layers----------------------------------------*/
#main {
 width: 100%;
 display: flex;
}

#left_option{
  width:20vw;
}

#layers{
  /*max-height:550px;*/
  max-height:80vh;
  overflow:scroll;
}

.layer_tag{
  width:20vw;
  background:gray;
  display:flex;
  margin:2px;
}
.layer_tag *{
}

.layer{
  display: inline-block;
  height:60px;
  width:60px;
  background-color:blue;
  border-radius: 50%;
  margin:6px;
  border: 4px solid;
  border-color:rgba(0,0,0,0);
}

.layers[type=radio]:checked +.layer{
/*background-color:blue;*/
border: 4px groove;
/*border-color:'#00ff00';*/
}

.lay{
  display: inline-block;
  height:50px;
  width:50px;
  background-color:blue;
  border-radius: 50%;
  margin:6px;
  border: 4px solid;
  border-color:rgba(0,0,0,0);
}

.lay_btn{
  display: inline-block;
  height:25%;
  width:100%;
  border-radius:;
  background-color:#c0c0c0;
  margin:6px;
  border: 4px solid;
  border-color:rgba(0,0,0,0);

}

.lay_btn input{
  background:none;
  border-style: none;
}

#indent div{
  /*background:gray;
  /*height:60px;*/
}

.drag {
    cursor: move;
    position: absolute;
    height:70px;
    width:70px;
    border-radius: 50%;
    margin:6px;
    z-index: 1000;
    pointer-events: none;
}

.drag_now{
  opacity:0.5;
}
/*canvas----------------------------------------*/
#canvasBack{
}
.canvas{
  position:absolute;
}

#canvas{
  /*float:left;*/
  /*width:550px;
  height:550px;*/
  width:80vh;
  height:80vh;
  border:solid;
  text-align: center;

  background-color:#f5f5f5;
  background-image: -webkit-linear-gradient(45deg,  #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%),
                    -webkit-linear-gradient(-135deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%);
  background-image: linear-gradient(45deg,  #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%),
                    linear-gradient(-135deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%);
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px, 0 0, 15px 15px, 0 0;
}

#canvas_option{
  height:50px;
  background-color:lightblue;
}
